aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
CustomModules[log_handler,bot_directory]
discord.py>2.0.0
frozenlist
idna
jsonschema
jsonschema-specifications
multidict
psutil
python-dotenv
referencing
rpds-py
sentry-sdk
urllib3
yarl
